#tweet-error {
  height:4em;
  padding: 0.5em; 
  margin-bottom:2em;
  display: flex;
  align-items: center;  
}

#tweet-error img {
  height: 100px;
  width: 100px;
}

#tweet-error div {
  width:100%;
  height:80% ;
  padding-left:1em;
  background-color: lightpink;
  border: 2px solid red;
  display: flex;
  align-items: center;  
}